</main>
<footer>
    <!-- Step 4 - Add a dynamic year to the footer using JS. -->
    <div class="footer-content">
      <p>Copyright © <%= new Date().getFullYear() %></p>
    </div>
</footer>
</body>
  
</html>