</main>
<hr width="50%" style="padding-bottom: 2px; margin-bottom: 30px;" color="grey">
<footer>
    <!-- Step 4 - Add a dynamic year to the footer using JS. -->
    <div class="footer-content">
      <p style="color: black; font-size: 1.5rem;">Copyright © <%= new Date().getFullYear() %></p>
    </div>
</footer>
</body>
  
</html>