body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #67e635;
    padding: 20px;
    box-shadow: 0 0 10px rgb(223, 74, 106);
    border-radius: 8px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
}
