<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will it Rain Tomorrow?</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: 50px ; margin-top: -10px;">⛈️</h1>
        <h1 style="background-color: rgb(197, 221, 241); border-radius: 5px; padding: 10px;">Will it Rain Tomorrow?</h1>
        <hr width="50%" style="padding-bottom: 2px; margin-bottom: 50px;" color="red">
        <form action="/will-it-rain" method="get">
            <input placeholder="Enter City's Name: " type="text" id="city" name="city" required>
            <button type="submit">Check</button>
        </form>
        <% if (typeof result !== 'undefined') { %>
            <div class="result" style="background-color:rgb(197, 221, 241) ;border-radius: 5px; padding: 10px;">
                <h2>Weather Forecast for <%= result.city %>:</h2>
                <strong style="background-color: crimson; border-radius: 5px; font-size: 65px;padding: 5px;"><%= result.willItRain ? 'Yes ☔' : 'No 🌤️' %></strong>
                <p><%= result.forecast %></p>
            </div>
        <% } %>
    </div>
</body>
</html>
